/*https://css-tricks.com/perfect-full-page-background-image/*/
html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body {
	background: rgba(0, 0, 0 , 0);
}

#navigation,.navbar, .navbar-default {
  background: rgba(102, 102, 102, 0.4);
  border-radius: 15px;
}

.centerContainer {
	position: fixed;
	top: 25%;
	bottom: 25%;
	left: 0;
	right: 0;
}

.divbg {
	font-family: 'Roboto', 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	text-align: center;
	border-style: groove;
	border-width: 1px;
	border-radius: 15px;
	background: rgba(102, 102, 102, 0.8);
	padding: 5px;
	margin: 5px;
	color: black;
}

.divbgpic {
	border-style: groove;
	border-width: 1px;
	border-radius: 15px;
	margin: 5px;
}

#instrOverlay {
	display: none;
	position: fixed;
	top: 0;
	left; 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 1;
}
#instrDiv {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#word {
	line-height: 3;
	letter-spacing: 7px;
}
#mainPic {
	border-radius: 15px;
	margin: 0;
	opacity: 0.8;
}