/*https://css-tricks.com/perfect-full-page-background-image/*/
html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body {
	background: rgba(0, 0, 0 , 0);
}

#navigation,.navbar, .navbar-default {
  background: rgba(102, 102, 102, 0.4);
  border-radius: 15px;
}

.divbg {
	text-align: center;
	border-style: groove;
	border-width: 1px;
	border-radius: 15px;
	background: rgba(102, 102, 102, 0.8);
	padding: 5px;
	margin: 5px;
	color: black;
}

.divbgpic {
	border-style: groove;
	border-width: 1px;
	border-radius: 15px;
	margin: 5px;
}


#word {
	line-height: 3;
	letter-spacing: 7px;
}
#mainPic {
	border-radius: 15px;
	margin: 0;
	opacity: 0.8;
}